<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Twitter handle:</strong>
  <%= @user.twitter_handle %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong>Twitter handle:</strong>
  <%= @user.twitter_handle %>
</p>

<p>
  <strong>Over 21:</strong>
  <%= @user.over_21 %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @user.operating_system %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @user.coach %>
</p>

<p>
  <strong>Workshop:</strong>
  <%= @user.workshop %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @user.accepted %>
</p>

<p>
  <strong>Tutorial progress:</strong>
  <%= @user.tutorial_progress %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
