<p id="notice"><%= notice %></p>

<h4>
  <strong><%= @user.first_name.capitalize %>
  <%= @user.last_name.capitalize  %></strong> &nbsp; -- &nbsp; <%= @user.email %>
</h4>

<h5>
  <%= @user.operating_system %> &nbsp; | &nbsp; Rating: 
  <%= @user.rating %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @user.coach %>
</p>

<p>
  <%= @user.email %>
</p>

<p>
  https://twitter.com/<%= @user.twitter_handle %>
</p>

<p>
  <%= @user.phone %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong>Over 21:</strong>
  <%= @user.over_21 %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Workshop:</strong>
  <%= @user.workshop %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @user.accepted %>
</p>

<p>
  <strong>Tutorial progress:</strong>
  <%= @user.tutorial_progress %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
